body{
    background: #fff;
}
header{
    width: 100%;
    position: relative;
    top: 0px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-links{
    padding: 0 10px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-family: Arial, sans-serif;
    font-size: 13px;
}
.header-links:hover{
    text-decoration: underline;
}
footer{
    background-color: #f2f2f2;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 35px;
}
.footer-links{
    padding: 0 10px;
    text-decoration: none;
    color: #70757a;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.footer-links:hover{
    text-decoration: underline;
}